/* Google Fonts - Neumorphism Design System */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&family=DM+Sans:wght@400;500;700&display=swap');

/* Google Fonts - Organic/Natural Theme */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700;9..144,800&family=Nunito:wght@400;500;600;700&display=swap');

/* LXGW Bright Font Face Declarations - Kept for Chinese text support */
@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

