/* LXGW Bright Font Face Declarations */
@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: url("../fonts/LXGWBright-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

